.arrowPosition{
    display: block;
    position : fixed;
    bottom : 30px;
    right: 10px;
    &:hover{
        background-color: #bdbdbd;
    }
    .colorArrow img{
        filter: invert(44%) sepia(47%) saturate(2620%) hue-rotate(155deg) brightness(98%) contrast(103%);
    }
}
