.project{
    width: 350px;
    background-color: #ffffff;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 5px;
    box-shadow: 0 0 30px -4px RGB(0 0 0 / 20%);
    overflow: hidden;
    margin-bottom: 30px;
    .icon {
        max-width: 350px;
        height: 300px;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        //background-size: 100%;
        background-size: cover;
        transition: 0.5s;
        background-repeat: no-repeat;
        &:hover{
            //background-size: 120%;
            //-webkit-transform: scale(1.2); /*Указываем величину изображения при анимации*/
            -ms-transform: scale(1.1); /*Указываем величину изображения при анимации*/
            transform: scale(1.1);
        }
    }
    .information{
        padding: 30px 25px;
        h3{
            color: #474747;
            font-weight: 500;
            padding: 18px 0 18px;
            border-bottom: rgba(215,215,215,1) solid 1px;
            font-size: 25px;
            margin-bottom: 10px;
        }
        p{
            color: #878787;
            font-size: 14px;
            line-height: 1.571428;
        }
    }

}
//.icon {
//    /*max-width: 360px;*/
//    height: 200px;
//    background-position: center;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    cursor: pointer;
//    overflow: hidden;
//    background-size: 100%;
//    /*background-size: cover;*/
//    transition: 0.5s;
//    /*background-repeat: no-repeat;*/
//}
//.icon:hover{
//    background-size: 120%;
//}
//.information{
//    padding: 30px 25px
//}

//.information h3{
//    color: #474747;
//    font-weight: 500;
//    padding: 18px 0 18px;
//    border-bottom: rgba(215,215,215,1) solid 1px;
//}
//
//.information p{
//    color: #878787;
//    font-size: 14px;
//    line-height: 1.571428;
//}